 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1283px;
}

.u-section-1 .u-group-elements-1 {
  width: 171px;
  min-height: 159px;
  height: auto;
  margin: 16px auto 0 -95px;
}

.u-section-1 .u-shape-1 {
  width: 135px;
  height: 78px;
  transform-origin: center center;
  transform: scaleX(-1);
  margin: 81px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -159px 0 0;
}

.u-section-1 .u-group-elements-2 {
  width: 151px;
  min-height: 159px;
  transition-duration: 0.5s;
  height: auto;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -159px -76px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-shape-2 {
  height: 79px;
  width: 135px;
  margin: -16px auto 0 13px;
}

.u-section-1 .u-group-elements-3 {
  width: 567px;
  min-height: 79px;
  height: auto;
  margin: -151px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-line-1 {
  height: 0;
  margin-top: -3px;
  margin-bottom: 0;
}

.u-section-1 .u-group-elements-4 {
  width: 167px;
  min-height: 33px;
  height: auto;
  margin: 9px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-1 .u-list-1 {
  width: 1764px;
  margin: 108px -312px 60px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 696px;
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  --radius: 50px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-1 {
  width: 429px;
  height: 425px;
  --radius: 50px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 92px auto 0 210px;
}

.u-section-1 .u-list-item-2 {
  --radius: 50px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  width: 429px;
  height: 425px;
  --radius: 50px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 92px auto 0 210px;
}

.u-section-1 .u-list-item-3 {
  --radius: 50px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  width: 429px;
  height: 425px;
  --radius: 50px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-7 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 92px auto 0 210px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-list-1 {
    width: 1199px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 383px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 897px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-left: 2px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 14px;
  }

  .u-section-1 .u-group-elements-3 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    margin-top: 32px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-left: 156px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    margin-left: 156px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
    margin-left: 156px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-3 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 45px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 317px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 96px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 317px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 96px;
  }

  .u-section-1 .u-image-3 {
    width: 320px;
    height: 317px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 96px;
  }
}

.u-section-1 .u-list-item-2,
.u-section-1 .u-list-item-2:before,
.u-section-1 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2:hover:before {
  background-color: #8dc1ed !important;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-1,
.u-section-1 .u-list-item-1:before,
.u-section-1 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1:hover:before {
  background-color: #8dc1ed !important;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-3,
.u-section-1 .u-list-item-3:before,
.u-section-1 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3:hover:before {
  background-color: #8dc1ed !important;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-elements-2,
.u-section-1 .u-group-elements-2:before,
.u-section-1 .u-group-elements-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-elements-2.u-group-elements-2.u-group-elements-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-elements-2.u-group-elements-2.u-group-elements-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}