 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 901px;
  height: 315px;
  object-position: 50% 36.05%;
  margin: 481px auto 0 -381px;
}

.u-section-1 .u-group-1 {
  width: 649px;
  height: auto;
  --radius: 15px;
  min-height: 466px;
  margin: -379px -129px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 14px 21px 1px;
}

.u-section-1 .u-form-1 {
  height: 451px;
  margin: 0 0 0 10px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-size: 2.25rem;
}

.u-section-1 .u-input-1 {
  --radius: 50px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-size: 2.25rem;
}

.u-section-1 .u-input-2 {
  --radius: 50px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 800;
  padding: 4px 56px 5px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: -44px 129px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-form-1 {
    --radius: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 119px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -183px;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}