 .u-section-1 {
  background-image: none;
  min-height: 100vh;
}

.u-section-1 .u-group-elements-1 {
  width: 171px;
  min-height: 94px;
  height: auto;
  margin: 8px auto 0 calc(((100% - 1440px) / 2)  + -265px);
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-shape-1 {
  width: 86px;
  height: 49px;
  transform-origin: center center;
  transform: scaleX(-1);
  margin: -3px auto 0 36px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 348px;
  margin: -86px auto 0;
}

.u-section-1 .u-line-1 {
  width: 348px;
  transform-origin: right center;
  margin: 0 auto;
}

.u-section-1 .u-group-1 {
  height: auto;
  min-height: 197px;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-group-elements-2 {
  width: 602px;
  min-height: 173px;
  height: auto;
  margin: 0 auto 0 42px;
}

.u-section-1 .u-image-1 {
  width: 173px;
  left: 0;
  right: auto;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  font-weight: 900;
  margin: 15px 0 0 197px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 13px 149px 0 200px;
}

.u-section-1 .u-group-elements-3 {
  width: 537px;
  min-height: 50px;
  height: auto;
  margin: 28px auto 0 calc(((100% - 1440px) / 2)  + -95px);
}

.u-section-1 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 192px 0 0;
}

.u-section-1 .u-line-2 {
  transform-origin: left center;
  margin-top: 7px;
  height: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-group-elements-4 {
  width: 579px;
  min-height: 53px;
  height: auto;
  margin: -50px calc(((100% - 1140px) / 2)  + -213px) 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 207px 0 0;
}

.u-section-1 .u-line-3 {
  transform-origin: left center;
  margin-top: 10px;
  height: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 21px calc(((100% - 1140px) / 2)  + 971px) 0 calc(((100% - 1140px) / 2)  + -245px);
}

.u-section-1 .u-text-8 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 2px calc(((100% - 1140px) / 2)  + 971px) 0 calc(((100% - 1140px) / 2)  + -245px);
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.875rem;
  font-style: italic;
  margin: -127px calc(((100% - 1140px) / 2)  + 191px) 0 calc(((100% - 1140px) / 2)  + 774px);
}

.u-section-1 .u-text-10 {
  font-style: italic;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 calc(((100% - 1140px) / 2)  + -291px) 0 calc(((100% - 1140px) / 2)  + 774px);
}

.u-section-1 .u-text-11 {
  font-size: 1.875rem;
  font-style: italic;
  font-weight: 700;
  margin: 6px calc(((100% - 1140px) / 2)  + 191px) 0 calc(((100% - 1140px) / 2)  + 774px);
}

.u-section-1 .u-text-12 {
  font-style: italic;
  font-size: 3.75rem;
  font-weight: 700;
  margin: -12px calc(((100% - 1440px) / 2)  + -250px) 0 calc(((100% - 1440px) / 2)  + 924px);
}

.u-section-1 .u-group-elements-5 {
  width: 537px;
  min-height: 50px;
  height: auto;
  margin: -97px auto 0 calc(((100% - 1140px) / 2)  + -245px);
}

.u-section-1 .u-text-13 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 104px 0 0;
}

.u-section-1 .u-line-4 {
  transform-origin: left center;
  margin-top: 7px;
  height: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.875rem;
  font-style: italic;
  font-weight: 700;
  margin: 26px calc(((100% - 1440px) / 2)  + 1296px) 0 calc(((100% - 1440px) / 2)  + -98px);
}

.u-section-1 .u-text-15 {
  font-style: italic;
  font-size: 3.75rem;
  font-weight: 700;
  margin: -6px calc(((100% - 1140px) / 2)  + 1256px) 0 calc(((100% - 1140px) / 2)  + -179px);
}

.u-section-1 .u-text-16 {
  font-size: 1.875rem;
  font-style: italic;
  font-weight: 700;
  margin: -137px calc(((100% - 1140px) / 2)  + 839px) 0 calc(((100% - 1140px) / 2)  + 85px);
}

.u-section-1 .u-text-17 {
  font-style: italic;
  font-size: 3.75rem;
  font-weight: 700;
  margin: -6px calc(((100% - 1140px) / 2)  + 800px) 0 calc(((100% - 1140px) / 2)  + 85px);
}

.u-section-1 .u-text-18 {
  font-size: 1.875rem;
  font-style: italic;
  font-weight: 700;
  margin: -95px calc(((100% - 1140px) / 2)  + 124px) 0 calc(((100% - 1140px) / 2)  + 774px);
}

.u-section-1 .u-text-19 {
  font-style: italic;
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 calc(((100% - 1140px) / 2)  + -109px) 0 calc(((100% - 1140px) / 2)  + 774px);
}

.u-section-1 .u-group-elements-6 {
  width: 1744px;
  min-height: 53px;
  height: auto;
  margin: 1px calc(((100% - 1140px) / 2)  + -338px) 0 auto;
}

.u-section-1 .u-text-20 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 207px 0 0;
}

.u-section-1 .u-line-5 {
  transform-origin: left center;
  margin-top: 10px;
  height: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  font-size: 1.875rem;
  font-style: italic;
  margin: 0 calc(((100% - 1140px) / 2)  + -338px) 0 calc(((100% - 1140px) / 2)  + 1190px);
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  font-size: 1.875rem;
  font-style: italic;
  margin: -48px calc(((100% - 1140px) / 2)  + 667px) 0 calc(((100% - 1140px) / 2)  + 298px);
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  font-size: 1.875rem;
  font-style: italic;
  margin: -48px calc(((100% - 1140px) / 2)  + 370px) 0 calc(((100% - 1140px) / 2)  + 595px);
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  font-size: 1.875rem;
  font-style: italic;
  margin: -48px calc(((100% - 1140px) / 2)  + 57px) 0 calc(((100% - 1140px) / 2)  + 877px);
}

.u-section-1 .u-text-25 {
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
  margin: 0 calc(((100% - 1140px) / 2)  + 73px) 0 calc(((100% - 1140px) / 2)  + 892px);
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
  margin: -38px calc(((100% - 1140px) / 2)  + 370px) 0 calc(((100% - 1140px) / 2)  + 595px);
}

.u-section-1 .u-text-27 {
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
  margin: -38px calc(((100% - 1140px) / 2)  + 667px) 0 calc(((100% - 1140px) / 2)  + 298px);
}

.u-section-1 .u-text-28 {
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
  margin: -39px calc(((100% - 1140px) / 2)  + -291px) 0 calc(((100% - 1140px) / 2)  + 1256px);
}

.u-section-1 .u-text-29 {
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
  margin: -38px calc(((100% - 1140px) / 2)  + 949px) 0 calc(((100% - 1140px) / 2)  + 16px);
}

.u-section-1 .u-text-30 {
  font-weight: 700;
  font-size: 1.875rem;
  font-style: italic;
  margin: -84px calc(((100% - 1140px) / 2)  + 971px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-text-31 {
  font-weight: 700;
  font-size: 1.875rem;
  font-style: italic;
  margin: -48px calc(((100% - 1140px) / 2)  + 1231px) 0 calc(((100% - 1140px) / 2)  + -266px);
}

.u-section-1 .u-text-32 {
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
  margin: 0 calc(((100% - 1140px) / 2)  + 1231px) 0 calc(((100% - 1140px) / 2)  + -266px);
}

.u-section-1 .u-text-33 {
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
  margin: 18px calc(((100% - 1140px) / 2)  + -291px) 0 calc(((100% - 1140px) / 2)  + 1256px);
}

.u-section-1 .u-text-34 {
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
  margin: -38px calc(((100% - 1140px) / 2)  + 73px) 0 calc(((100% - 1140px) / 2)  + 892px);
}

.u-section-1 .u-text-35 {
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
  margin: -38px calc(((100% - 1140px) / 2)  + 370px) 0 calc(((100% - 1140px) / 2)  + 595px);
}

.u-section-1 .u-text-36 {
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
  margin: -38px calc(((100% - 1140px) / 2)  + 667px) 0 calc(((100% - 1140px) / 2)  + 298px);
}

.u-section-1 .u-text-37 {
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
  margin: -38px calc(((100% - 1140px) / 2)  + 949px) 0 calc(((100% - 1140px) / 2)  + 16px);
}

.u-section-1 .u-text-38 {
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
  margin: -38px calc(((100% - 1140px) / 2)  + 1231px) 0 calc(((100% - 1140px) / 2)  + -266px);
}

.u-section-1 .u-text-39 {
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
  margin: 19px calc(((100% - 1140px) / 2)  + -291px) 0 calc(((100% - 1140px) / 2)  + 1256px);
}

.u-section-1 .u-text-40 {
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
  margin: -38px calc(((100% - 1140px) / 2)  + 73px) 0 calc(((100% - 1140px) / 2)  + 892px);
}

.u-section-1 .u-text-41 {
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
  margin: -38px calc(((100% - 1140px) / 2)  + 370px) 0 calc(((100% - 1140px) / 2)  + 595px);
}

.u-section-1 .u-text-42 {
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
  margin: -38px calc(((100% - 1140px) / 2)  + 667px) 0 calc(((100% - 1140px) / 2)  + 298px);
}

.u-section-1 .u-text-43 {
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
  margin: -38px calc(((100% - 1140px) / 2)  + 949px) 0 calc(((100% - 1140px) / 2)  + 16px);
}

.u-section-1 .u-text-44 {
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
  margin: -38px calc(((100% - 1140px) / 2)  + 1231px) 60px calc(((100% - 1140px) / 2)  + -266px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: calc(((100% - 940px) / 2) + -265px);
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-elements-2 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-left: calc(((100% - 940px) / 2) + -215px);
  }

  .u-section-1 .u-group-elements-3 {
    margin-left: calc(((100% - 940px) / 2) + -95px);
  }

  .u-section-1 .u-group-elements-4 {
    margin-right: calc(((100% - 940px) / 2) + -63px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 940px) / 2)  + 1021px);
    margin-left: calc(((100% - 940px) / 2)  + -95px);
  }

  .u-section-1 .u-text-8 {
    margin-top: 336px;
    margin-right: calc(((100% - 940px) / 2)  + 1021px);
    margin-left: calc(((100% - 940px) / 2)  + -95px);
  }

  .u-section-1 .u-text-9 {
    margin-top: -719px;
    margin-right: calc(((100% - 940px) / 2)  + 241px);
    margin-left: calc(((100% - 940px) / 2)  + 824px);
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 940px) / 2)  + -141px);
    margin-left: calc(((100% - 940px) / 2)  + 824px);
  }

  .u-section-1 .u-text-11 {
    margin-top: 262px;
    margin-right: calc(((100% - 940px) / 2)  + 241px);
    margin-left: calc(((100% - 940px) / 2)  + 824px);
  }

  .u-section-1 .u-text-12 {
    margin-right: calc(((100% - 940px) / 2)  + -250px);
    margin-left: calc(((100% - 940px) / 2)  + 824px);
  }

  .u-section-1 .u-group-elements-5 {
    margin-left: calc(((100% - 940px) / 2) + -95px);
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 940px) / 2)  + 1196px);
    margin-left: calc(((100% - 940px) / 2)  + -98px);
  }

  .u-section-1 .u-text-15 {
    margin-right: calc(((100% - 940px) / 2)  + 1306px);
    margin-left: calc(((100% - 940px) / 2)  + -29px);
  }

  .u-section-1 .u-text-16 {
    margin-right: calc(((100% - 940px) / 2) + 889px);
    margin-left: calc(((100% - 940px) / 2) + 135px);
  }

  .u-section-1 .u-text-17 {
    margin-right: calc(((100% - 940px) / 2)  + 850px);
    margin-left: calc(((100% - 940px) / 2)  + 135px);
  }

  .u-section-1 .u-text-18 {
    margin-right: calc(((100% - 940px) / 2)  + 174px);
    margin-left: calc(((100% - 940px) / 2)  + 824px);
  }

  .u-section-1 .u-text-19 {
    margin-right: calc(((100% - 940px) / 2) + -109px);
    margin-left: calc(((100% - 940px) / 2) + 674px);
  }

  .u-section-1 .u-group-elements-6 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-21 {
    margin-top: 75px;
    margin-right: calc(((100% - 940px) / 2)  + -256px);
    margin-left: calc(((100% - 940px) / 2)  + 1090px);
  }

  .u-section-1 .u-text-22 {
    margin-top: -173px;
    margin-right: calc(((100% - 940px) / 2)  + 567px);
    margin-left: calc(((100% - 940px) / 2)  + 198px);
  }

  .u-section-1 .u-text-23 {
    margin-right: calc(((100% - 940px) / 2)  + 270px);
    margin-left: calc(((100% - 940px) / 2)  + 495px);
  }

  .u-section-1 .u-text-24 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2)  + 765px);
  }

  .u-section-1 .u-text-25 {
    margin-top: 1px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2)  + 765px);
  }

  .u-section-1 .u-text-26 {
    margin-right: calc(((100% - 940px) / 2)  + 270px);
    margin-left: calc(((100% - 940px) / 2)  + 495px);
  }

  .u-section-1 .u-text-27 {
    margin-top: -39px;
    margin-right: calc(((100% - 940px) / 2)  + 567px);
    margin-left: calc(((100% - 940px) / 2)  + 198px);
  }

  .u-section-1 .u-text-28 {
    margin-top: 38px;
    margin-right: calc(((100% - 940px) / 2)  + -240px);
    margin-left: calc(((100% - 940px) / 2)  + 1105px);
  }

  .u-section-1 .u-text-29 {
    width: 175px;
    margin-top: -108px;
    margin-right: calc(((100% - 940px) / 2)  + 765px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-30 {
    margin-top: 130px;
    margin-right: calc(((100% - 940px) / 2)  + 764px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-31 {
    margin-top: -318px;
    margin-right: calc(((100% - 940px) / 2)  + 765px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-32 {
    margin-top: 47px;
    margin-right: calc(((100% - 940px) / 2)  + 765px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-33 {
    margin-top: 27px;
    margin-right: calc(((100% - 940px) / 2)  + -291px);
    margin-left: calc(((100% - 940px) / 2)  + 1156px);
  }

  .u-section-1 .u-text-34 {
    margin-top: 39px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2)  + 765px);
  }

  .u-section-1 .u-text-35 {
    margin-right: calc(((100% - 940px) / 2)  + 270px);
    margin-left: calc(((100% - 940px) / 2)  + 495px);
  }

  .u-section-1 .u-text-36 {
    margin-right: calc(((100% - 940px) / 2)  + 567px);
    margin-left: calc(((100% - 940px) / 2)  + 198px);
  }

  .u-section-1 .u-text-37 {
    margin-right: calc(((100% - 940px) / 2)  + 765px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-38 {
    margin-top: -115px;
    margin-right: calc(((100% - 940px) / 2)  + 1131px);
    margin-left: calc(((100% - 940px) / 2)  + -266px);
  }

  .u-section-1 .u-text-39 {
    margin-right: calc(((100% - 940px) / 2)  + -291px);
    margin-left: calc(((100% - 940px) / 2)  + 1156px);
  }

  .u-section-1 .u-text-40 {
    margin-top: 39px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2)  + 765px);
  }

  .u-section-1 .u-text-41 {
    margin-right: calc(((100% - 940px) / 2)  + 270px);
    margin-left: calc(((100% - 940px) / 2)  + 495px);
  }

  .u-section-1 .u-text-42 {
    margin-right: calc(((100% - 940px) / 2)  + 567px);
    margin-left: calc(((100% - 940px) / 2)  + 198px);
  }

  .u-section-1 .u-text-43 {
    margin-right: calc(((100% - 940px) / 2)  + 765px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-44 {
    margin: -115px calc(((100% - 940px) / 2)  + 1131px) -36px calc(((100% - 940px) / 2)  + -266px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: calc(((100% - 720px) / 2) + -265px);
  }

  .u-section-1 .u-group-elements-2 {
    margin-left: calc(((100% - 720px) / 2) + -215px);
  }

  .u-section-1 .u-group-elements-3 {
    margin-left: calc(((100% - 720px) / 2)  + -95px);
  }

  .u-section-1 .u-group-elements-4 {
    margin-right: calc(((100% - 720px) / 2) + -63px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 720px) / 2)  + 911px);
    margin-left: calc(((100% - 720px) / 2)  + -95px);
  }

  .u-section-1 .u-text-8 {
    margin-top: 528px;
    margin-right: calc(((100% - 720px) / 2)  + 911px);
    margin-left: calc(((100% - 720px) / 2)  + -95px);
  }

  .u-section-1 .u-text-9 {
    margin-top: -911px;
    margin-right: calc(((100% - 720px) / 2)  + 131px);
    margin-left: calc(((100% - 720px) / 2)  + 714px);
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 720px) / 2) + -141px);
    margin-left: calc(((100% - 720px) / 2) + 714px);
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 720px) / 2)  + 131px);
    margin-left: calc(((100% - 720px) / 2)  + 714px);
  }

  .u-section-1 .u-text-12 {
    margin-right: calc(((100% - 720px) / 2)  + -250px);
    margin-left: calc(((100% - 720px) / 2)  + 714px);
  }

  .u-section-1 .u-group-elements-5 {
    margin-left: calc(((100% - 720px) / 2)  + -95px);
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 720px) / 2)  + 1086px);
    margin-left: calc(((100% - 720px) / 2)  + -98px);
  }

  .u-section-1 .u-text-15 {
    margin-right: calc(((100% - 720px) / 2)  + 1196px);
    margin-left: calc(((100% - 720px) / 2)  + -29px);
  }

  .u-section-1 .u-text-16 {
    margin-right: calc(((100% - 720px) / 2)  + 779px);
    margin-left: calc(((100% - 720px) / 2)  + 25px);
  }

  .u-section-1 .u-text-17 {
    margin-right: calc(((100% - 720px) / 2)  + 740px);
    margin-left: calc(((100% - 720px) / 2)  + 25px);
  }

  .u-section-1 .u-text-18 {
    margin-right: calc(((100% - 720px) / 2)  + 64px);
    margin-left: calc(((100% - 720px) / 2)  + 714px);
  }

  .u-section-1 .u-text-19 {
    margin-right: calc(((100% - 720px) / 2)  + -109px);
    margin-left: calc(((100% - 720px) / 2)  + 564px);
  }

  .u-section-1 .u-group-elements-6 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-21 {
    margin-right: calc(((100% - 720px) / 2)  + -256px);
    margin-left: calc(((100% - 720px) / 2)  + 980px);
  }

  .u-section-1 .u-text-22 {
    margin-top: -557px;
    margin-right: calc(((100% - 720px) / 2)  + 457px);
    margin-left: calc(((100% - 720px) / 2)  + 88px);
  }

  .u-section-1 .u-text-23 {
    margin-right: calc(((100% - 720px) / 2)  + 160px);
    margin-left: calc(((100% - 720px) / 2)  + 385px);
  }

  .u-section-1 .u-text-24 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2)  + 545px);
  }

  .u-section-1 .u-text-25 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2)  + 545px);
  }

  .u-section-1 .u-text-26 {
    margin-right: calc(((100% - 720px) / 2)  + 160px);
    margin-left: calc(((100% - 720px) / 2)  + 385px);
  }

  .u-section-1 .u-text-27 {
    margin-right: calc(((100% - 720px) / 2)  + 457px);
    margin-left: calc(((100% - 720px) / 2)  + 88px);
  }

  .u-section-1 .u-text-28 {
    margin-top: 422px;
    margin-right: calc(((100% - 720px) / 2)  + -240px);
    margin-left: calc(((100% - 720px) / 2)  + 995px);
  }

  .u-section-1 .u-text-29 {
    margin-top: -645px;
    margin-right: calc(((100% - 720px) / 2)  + 545px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-30 {
    margin-top: 898px;
    margin-right: calc(((100% - 720px) / 2)  + 544px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-31 {
    margin-top: -1086px;
    margin-right: calc(((100% - 720px) / 2)  + 545px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-32 {
    margin-right: calc(((100% - 720px) / 2)  + 545px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-33 {
    margin-right: calc(((100% - 720px) / 2)  + -291px);
    margin-left: calc(((100% - 720px) / 2)  + 1046px);
  }

  .u-section-1 .u-text-34 {
    margin-top: 270px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2)  + 545px);
  }

  .u-section-1 .u-text-35 {
    margin-right: calc(((100% - 720px) / 2)  + 160px);
    margin-left: calc(((100% - 720px) / 2)  + 385px);
  }

  .u-section-1 .u-text-36 {
    margin-right: calc(((100% - 720px) / 2)  + 457px);
    margin-left: calc(((100% - 720px) / 2)  + 88px);
  }

  .u-section-1 .u-text-37 {
    margin-right: calc(((100% - 720px) / 2)  + 545px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-38 {
    margin-top: -345px;
    margin-right: calc(((100% - 720px) / 2)  + 1021px);
    margin-left: calc(((100% - 720px) / 2)  + -266px);
  }

  .u-section-1 .u-text-39 {
    margin-right: calc(((100% - 720px) / 2)  + -291px);
    margin-left: calc(((100% - 720px) / 2)  + 1046px);
  }

  .u-section-1 .u-text-40 {
    margin-top: 270px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2)  + 545px);
  }

  .u-section-1 .u-text-41 {
    margin-right: calc(((100% - 720px) / 2)  + 160px);
    margin-left: calc(((100% - 720px) / 2)  + 385px);
  }

  .u-section-1 .u-text-42 {
    margin-right: calc(((100% - 720px) / 2)  + 457px);
    margin-left: calc(((100% - 720px) / 2)  + 88px);
  }

  .u-section-1 .u-text-43 {
    margin-right: calc(((100% - 720px) / 2)  + 545px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-44 {
    margin-top: -346px;
    margin-right: calc(((100% - 720px) / 2)  + 1021px);
    margin-left: calc(((100% - 720px) / 2)  + -266px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: calc(((100% - 540px) / 2) + -265px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-elements-2 {
    width: 520px;
    margin-left: calc(((100% - 540px) / 2) + -215px);
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-elements-3 {
    margin-left: calc(((100% - 540px) / 2) + -95px);
  }

  .u-section-1 .u-group-elements-4 {
    margin-right: calc(((100% - 540px) / 2) + -63px);
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2) + 671px);
    margin-left: calc(((100% - 540px) / 2) + -245px);
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
    margin-top: 112px;
    margin-right: calc(((100% - 540px) / 2)  + 821px);
    margin-left: calc(((100% - 540px) / 2)  + -95px);
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
    margin-top: -437px;
    margin-right: calc(((100% - 540px) / 2)  + 41px);
    margin-left: calc(((100% - 540px) / 2)  + 624px);
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2)  + -141px);
    margin-left: calc(((100% - 540px) / 2)  + 624px);
  }

  .u-section-1 .u-text-11 {
    font-size: 1rem;
    margin-top: 204px;
    margin-right: calc(((100% - 540px) / 2)  + 41px);
    margin-left: calc(((100% - 540px) / 2)  + 624px);
  }

  .u-section-1 .u-text-12 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2)  + -250px);
    margin-left: calc(((100% - 540px) / 2)  + 624px);
  }

  .u-section-1 .u-group-elements-5 {
    margin-left: calc(((100% - 540px) / 2)  + -95px);
  }

  .u-section-1 .u-text-14 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2) + 996px);
    margin-left: calc(((100% - 540px) / 2) + -98px);
  }

  .u-section-1 .u-text-15 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2)  + 1106px);
    margin-left: calc(((100% - 540px) / 2)  + -29px);
  }

  .u-section-1 .u-text-16 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2)  + 624px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-17 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2)  + 585px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-18 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2)  + 598px);
  }

  .u-section-1 .u-text-19 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2)  + -109px);
    margin-left: calc(((100% - 540px) / 2)  + 474px);
  }

  .u-section-1 .u-group-elements-6 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-21 {
    font-size: 1rem;
    margin-top: -65px;
    margin-right: calc(((100% - 540px) / 2)  + -256px);
    margin-left: calc(((100% - 540px) / 2)  + 890px);
  }

  .u-section-1 .u-text-22 {
    font-size: 1rem;
    margin-top: -249px;
    margin-right: calc(((100% - 540px) / 2)  + 365px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-23 {
    font-size: 1rem;
    margin-top: -54px;
    margin-right: calc(((100% - 540px) / 2)  + 70px);
    margin-left: calc(((100% - 540px) / 2)  + 295px);
  }

  .u-section-1 .u-text-24 {
    font-size: 1rem;
    margin-top: -54px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2)  + 365px);
  }

  .u-section-1 .u-text-25 {
    font-size: 1rem;
    margin-top: 0;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2)  + 365px);
  }

  .u-section-1 .u-text-26 {
    font-size: 1rem;
    margin-top: 3px;
    margin-right: calc(((100% - 540px) / 2)  + 70px);
    margin-left: calc(((100% - 540px) / 2)  + 295px);
  }

  .u-section-1 .u-text-27 {
    font-size: 1rem;
    margin-top: 3px;
    margin-right: calc(((100% - 540px) / 2)  + 365px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-28 {
    font-size: 1rem;
    margin-top: 198px;
    margin-right: calc(((100% - 540px) / 2)  + -240px);
    margin-left: calc(((100% - 540px) / 2)  + 905px);
  }

  .u-section-1 .u-text-29 {
    font-size: 1rem;
    margin-top: -322px;
    margin-right: calc(((100% - 540px) / 2)  + 365px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-30 {
    font-size: 1rem;
    margin-top: 477px;
    margin-right: calc(((100% - 540px) / 2)  + 364px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-31 {
    font-size: 1rem;
    margin-top: -525px;
    margin-right: calc(((100% - 540px) / 2)  + 365px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-32 {
    font-size: 1rem;
    margin-top: 0;
    margin-right: calc(((100% - 540px) / 2)  + 365px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-33 {
    font-size: 1rem;
    margin-top: -9px;
    margin-right: calc(((100% - 540px) / 2)  + -291px);
    margin-left: calc(((100% - 540px) / 2)  + 956px);
  }

  .u-section-1 .u-text-34 {
    font-size: 1rem;
    margin-top: 154px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2)  + 365px);
  }

  .u-section-1 .u-text-35 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2)  + 70px);
    margin-left: calc(((100% - 540px) / 2)  + 295px);
  }

  .u-section-1 .u-text-36 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2)  + 365px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-37 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2)  + 365px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-38 {
    font-size: 1rem;
    margin-top: -179px;
    margin-right: calc(((100% - 540px) / 2)  + 931px);
    margin-left: calc(((100% - 540px) / 2)  + -266px);
  }

  .u-section-1 .u-text-39 {
    font-size: 1rem;
    margin-top: 8px;
    margin-right: calc(((100% - 540px) / 2)  + -291px);
    margin-left: calc(((100% - 540px) / 2)  + 956px);
  }

  .u-section-1 .u-text-40 {
    font-size: 1rem;
    margin-top: 154px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2)  + 365px);
  }

  .u-section-1 .u-text-41 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2)  + 70px);
    margin-left: calc(((100% - 540px) / 2)  + 295px);
  }

  .u-section-1 .u-text-42 {
    font-size: 1rem;
    margin-top: -50px;
    margin-right: calc(((100% - 540px) / 2)  + 365px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-43 {
    font-size: 1rem;
    margin-top: -12px;
    margin-right: calc(((100% - 540px) / 2)  + 365px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-44 {
    font-size: 1rem;
    margin: -192px calc(((100% - 540px) / 2)  + 931px) -110px calc(((100% - 540px) / 2)  + -266px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-1 {
    margin-left: calc(((100% - 340px) / 2) + -265px);
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-group-elements-2 {
    width: 390px;
    margin-left: calc(((100% - 340px) / 2) + -215px);
  }

  .u-section-1 .u-group-elements-3 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-elements-4 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 340px) / 2) + 571px);
    margin-left: calc(((100% - 340px) / 2) + -245px);
  }

  .u-section-1 .u-text-8 {
    margin-top: 317px;
    margin-right: calc(((100% - 340px) / 2)  + 721px);
    margin-left: calc(((100% - 340px) / 2)  + -95px);
  }

  .u-section-1 .u-text-9 {
    margin-top: -642px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2)  + 465px);
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 340px) / 2) + -141px);
    margin-left: calc(((100% - 340px) / 2) + 465px);
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2)  + 465px);
  }

  .u-section-1 .u-text-12 {
    margin-right: calc(((100% - 340px) / 2)  + -250px);
    margin-left: calc(((100% - 340px) / 2)  + 465px);
  }

  .u-section-1 .u-group-elements-5 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 340px) / 2)  + 896px);
    margin-left: calc(((100% - 340px) / 2)  + -98px);
  }

  .u-section-1 .u-text-15 {
    margin-right: calc(((100% - 340px) / 2)  + 1006px);
    margin-left: calc(((100% - 340px) / 2)  + -29px);
  }

  .u-section-1 .u-text-16 {
    margin-right: calc(((100% - 340px) / 2)  + 424px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-17 {
    margin-right: calc(((100% - 340px) / 2)  + 385px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-18 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2)  + 398px);
  }

  .u-section-1 .u-text-19 {
    margin-right: calc(((100% - 340px) / 2)  + -109px);
    margin-left: calc(((100% - 340px) / 2)  + 374px);
  }

  .u-section-1 .u-group-elements-6 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-21 {
    margin-right: calc(((100% - 340px) / 2)  + -256px);
    margin-left: calc(((100% - 340px) / 2)  + 790px);
  }

  .u-section-1 .u-text-22 {
    margin-right: calc(((100% - 340px) / 2)  + 165px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-23 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2)  + 165px);
  }

  .u-section-1 .u-text-24 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2)  + 165px);
  }

  .u-section-1 .u-text-25 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2)  + 165px);
  }

  .u-section-1 .u-text-26 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2)  + 165px);
  }

  .u-section-1 .u-text-27 {
    margin-right: calc(((100% - 340px) / 2)  + 165px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-28 {
    margin-right: calc(((100% - 340px) / 2)  + -240px);
    margin-left: calc(((100% - 340px) / 2)  + 805px);
  }

  .u-section-1 .u-text-29 {
    margin-right: calc(((100% - 340px) / 2)  + 165px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-30 {
    margin-right: calc(((100% - 340px) / 2)  + 164px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-31 {
    margin-right: calc(((100% - 340px) / 2)  + 165px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-32 {
    margin-right: calc(((100% - 340px) / 2)  + 165px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-33 {
    margin-right: calc(((100% - 340px) / 2)  + -291px);
    margin-left: calc(((100% - 340px) / 2)  + 856px);
  }

  .u-section-1 .u-text-34 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2)  + 165px);
  }

  .u-section-1 .u-text-35 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2)  + 165px);
  }

  .u-section-1 .u-text-36 {
    margin-right: calc(((100% - 340px) / 2)  + 165px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-37 {
    margin-right: calc(((100% - 340px) / 2)  + 165px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-38 {
    margin-right: calc(((100% - 340px) / 2)  + 831px);
    margin-left: calc(((100% - 340px) / 2)  + -266px);
  }

  .u-section-1 .u-text-39 {
    margin-right: calc(((100% - 340px) / 2)  + -291px);
    margin-left: calc(((100% - 340px) / 2)  + 856px);
  }

  .u-section-1 .u-text-40 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2)  + 165px);
  }

  .u-section-1 .u-text-41 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2)  + 165px);
  }

  .u-section-1 .u-text-42 {
    margin-right: calc(((100% - 340px) / 2)  + 165px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-43 {
    margin-right: calc(((100% - 340px) / 2)  + 165px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-44 {
    margin-right: calc(((100% - 340px) / 2)  + 831px);
    margin-left: calc(((100% - 340px) / 2)  + -266px);
  }
}

.u-block-114e-9:not([data-block-selected]):not([data-cell-selected]),
.u-block-114e-9:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-114e-9:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-114e-9:not([data-block-selected]):not([data-cell-selected]).u-block-114e-9:not([data-block-selected]):not([data-cell-selected]).u-block-114e-9:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-block-114e-9:not([data-block-selected]):not([data-cell-selected]).u-block-114e-9:not([data-block-selected]):not([data-cell-selected]).u-block-114e-9:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) !important;
}