 .u-section-1 {
  background-image: none;
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 795px;
  height: 176px;
  object-position: 50% 44.35%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 580px;
  height: auto;
  --radius: 50px;
  min-height: 717px;
  margin: 112px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 29px 21px 6px;
}

.u-section-1 .u-form-1 {
  height: 655px;
  width: 446px;
  margin: 0 auto;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-size: 1.5rem;
}

.u-section-1 .u-input-1 {
  --radius: 50px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-size: 1.5rem;
}

.u-section-1 .u-input-2 {
  --radius: 50px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-size: 1.5rem;
}

.u-section-1 .u-input-3 {
  --radius: 50px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-size: 1.5rem;
}

.u-section-1 .u-input-4 {
  --radius: 50px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-size: 1.5rem;
}

.u-section-1 .u-input-5 {
  --radius: 50px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 800;
  padding: 4px 57px 5px 55px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: -13px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    --radius: 15px;
    height: auto;
  }

  .u-section-1 .u-form-1 {
    --radius: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 720px;
    height: 159px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
    height: 119px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 75px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}