.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1336px;
}

.u-section-1 .u-group-elements-1 {
  width: 168px;
  min-height: 165px;
  height: auto;
  margin: 4px auto 0 -392px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-shape-1 {
  width: 135px;
  height: 78px;
  transform-origin: center center;
  transform: scaleX(-1);
  margin: -9px auto 0 0;
}

.u-section-1 .u-group-elements-2 {
  width: 458px;
  min-height: 82px;
  height: auto;
  margin: -133px auto 0;
}

.u-section-1 .u-group-elements-3 {
  width: 359px;
  min-height: 79px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  width: 359px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-line-1 {
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 900;
  font-size: 1.875rem;
  margin: 113px auto 0 -392px;
}

.u-section-1 .u-text-4 {
  font-weight: 900;
  font-size: 1.25rem;
  margin: 1px auto 0 -392px;
}

.u-section-1 .u-text-5 {
  font-weight: 900;
  font-size: 1.25rem;
  margin: -28px auto 0 340px;
}

.u-section-1 .u-group-1 {
  width: 984px;
  height: auto;
  min-height: 672px;
  margin: 9px -414px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  height: 300px;
  object-position: 50% 37.2%;
  margin-top: 156px;
  margin-bottom: 0;
}

.u-section-1 .u-group-2 {
  width: 818px;
  height: auto;
  min-height: 672px;
  margin: -672px auto 0 -392px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 81px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 14px;
  padding-right: 14px;
}

.u-section-1 .u-group-elements-4 {
  width: 802px;
  min-height: 32px;
  margin: 26px auto 0 2px;
}

.u-section-1 .u-text-6 {
  font-weight: 900;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-1 .u-group-4 {
  height: auto;
  min-height: 80px;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 14px;
  padding-right: 14px;
}

.u-section-1 .u-text-7 {
  font-weight: 900;
  font-size: 1.25rem;
  margin: 24px 1px 0;
}

.u-section-1 .u-group-5 {
  height: auto;
  min-height: 51px;
  margin-top: 449px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-1 .u-text-8 {
  font-weight: 900;
  font-size: 1.25rem;
  margin: 0 31px 0 0;
}

.u-section-1 .u-text-9 {
  font-weight: 900;
  font-size: 1.25rem;
  margin: 10px 715px 0 232px;
}

.u-section-1 .u-shape-2 {
  width: 212px;
  --radius: 50px;
  height: 61px;
  margin: 9px auto 0 213px;
}

.u-section-1 .u-text-10 {
  font-size: 2.5rem;
  font-weight: 500;
  margin: -62px auto 0 245px;
}

.u-section-1 .u-text-11 {
  font-weight: 900;
  font-size: 1.25rem;
  margin: -109px 1128px 0 -374px;
}

.u-section-1 .u-btn-1 {
  font-size: 6rem;
  transition-duration: 0.5s;
  --radius: 50px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -16px -363px 0 auto;
  padding: 9px 223px 11px;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: -163px auto 60px -392px;
  padding: 18px 14px 19px 13px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-5 {
    margin-left: 280px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    object-position: 50% 41.97%;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-1 .u-group-elements-4 {
    width: 790px;
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 615px;
    margin-left: 132px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 1028px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-5 {
    margin-left: 214px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 505px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 199px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 918px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-left: 161px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 165px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
    margin-right: 347px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
    margin-left: 149px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1rem;
    margin-right: 828px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-2 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 101px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 104px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-4 {
    width: 320px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 147px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 128px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 728px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style,
    border-width, border-top-width, border-left-width, border-right-width,
    border-bottom-width, custom-border, borders, box-shadow, text-shadow,
    opacity, border-radius, stroke, border-color, font-size, font-style,
    font-weight, text-decoration, letter-spacing, transform, background-image,
    image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}
