.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-elements-1 {
  width: 168px;
  min-height: 165px;
  height: auto;
  margin: 17px auto 0 -74px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-shape-1 {
  width: 135px;
  height: 78px;
  transform-origin: center center;
  transform: scaleX(-1);
  margin: -9px auto 0 0;
}

.u-section-1 .u-group-elements-2 {
  width: 458px;
  min-height: 82px;
  height: auto;
  margin: -157px auto 0;
}

.u-section-1 .u-group-elements-3 {
  width: 359px;
  min-height: 79px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 359px;
  margin: 0 auto;
}

.u-section-1 .u-line-1 {
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-elements-4 {
  width: 168px;
  min-height: 165px;
  height: auto;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -90px -95px 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-shape-2 {
  width: 135px;
  height: 78px;
  margin: -9px auto 0;
}

.u-section-1 .u-form-1 {
  height: 400px;
  width: 638px;
  margin: 125px auto 60px;
}

.u-section-1 .u-label-1 {
  font-weight: 800;
  font-size: 4.5rem;
}

.u-section-1 .u-input-1 {
  --radius: 50px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  background-image: none;
  font-size: 3.75rem;
  font-weight: 900;
  padding: 0 113px 0 112px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-2 {
    transform-origin: center center;
    transform: scaleX(-1);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-2 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}

.u-section-1 .u-group-elements-4,
.u-section-1 .u-group-elements-4:before,
.u-section-1 .u-group-elements-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style,
    border-width, border-top-width, border-left-width, border-right-width,
    border-bottom-width, custom-border, borders, box-shadow, text-shadow,
    opacity, border-radius, stroke, border-color, font-size, font-style,
    font-weight, text-decoration, letter-spacing, transform, background-image,
    image-zoom, background-size, background-position;
}

.u-section-1 .u-group-elements-4.u-group-elements-4.u-group-elements-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-elements-4.u-group-elements-4.u-group-elements-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}
