 .u-section-1 {
  background-image: none;
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  height: auto;
  min-height: 151px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-group-elements-1 {
  width: 423px;
  min-height: 120px;
  transition-duration: 0.5s;
  height: auto;
  margin: 15px auto 0 29px;
}

.u-section-1 .u-image-1 {
  width: 120px;
  height: 120px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-elements-2 {
  width: 128px;
  min-height: 48px;
  height: auto;
  margin: -86px auto 0 129px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 900;
  margin: 0;
}

.u-section-1 .u-image-2 {
  width: 450px;
  object-position: 50% 35.74%;
}

.u-section-1 .u-group-elements-3 {
  width: 458px;
  min-height: 82px;
  height: auto;
  margin: 29px auto 0;
}

.u-section-1 .u-group-elements-4 {
  width: 359px;
  min-height: 79px;
  height: auto;
  margin: 0 auto 0 50px;
}

.u-section-1 .u-text-2 {
  width: 359px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-line-1 {
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-elements-5 {
  width: 131px;
  min-height: 26px;
  height: auto;
  margin: 89px auto 0 calc(((100% - 1140px) / 2)  + -251px);
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-group-elements-6 {
  width: 68px;
  min-height: 26px;
  height: auto;
  margin: -26px auto 0 calc(((100% - 1140px) / 2)  + -13px);
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-elements-7 {
  width: 232px;
  min-height: 26px;
  height: auto;
  margin: -26px auto 0 calc(((100% - 1140px) / 2)  + 127px);
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-group-elements-8 {
  width: 235px;
  min-height: 26px;
  height: auto;
  margin: -25px calc(((100% - 1140px) / 2)  + -95px) 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-group-elements-9 {
  width: 271px;
  min-height: 40px;
  height: auto;
  margin: -50px calc(((100% - 1140px) / 2)  + 341px) 0 auto;
}

.u-section-1 .u-group-elements-10 {
  width: 128px;
  min-height: 26px;
  height: auto;
  margin: -18px auto 0 calc(((100% - 1140px) / 2)  + 400px);
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-group-elements-11 {
  width: 140px;
  min-height: 26px;
  height: auto;
  margin: -26px calc(((100% - 1140px) / 2)  + 430px) 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-group-elements-12 {
  width: 112px;
  min-height: 26px;
  height: auto;
  margin: -26px calc(((100% - 1140px) / 2)  + 287px) 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-group-elements-13 {
  width: 112px;
  min-height: 26px;
  height: auto;
  margin: -26px calc(((100% - 1140px) / 2)  + 144px) 0 auto;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-group-2 {
  width: 1665px;
  height: auto;
  min-height: 65px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 16px 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: 10px -156px 0 221px;
}

.u-section-1 .u-group-elements-14 {
  width: 90px;
  min-height: 22px;
  height: auto;
  margin: -22px auto 0 453px;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-group-elements-15 {
  width: 118px;
  min-height: 22px;
  height: auto;
  margin: -22px 240px 0 auto;
}

.u-section-1 .u-text-13 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -26px 81px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: -25px 873px 0 665px;
}

.u-section-1 .u-text-15 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: -22px 734px 0 881px;
}

.u-section-1 .u-text-16 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: -20px 575px 0 1027px;
}

.u-section-1 .u-text-17 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: -22px 430px 0 1169px;
}

.u-section-1 .u-group-elements-16 {
  width: 135px;
  min-height: 22px;
  height: auto;
  margin: -22px auto 0 34px;
}

.u-section-1 .u-text-18 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-group-3 {
  width: 1665px;
  height: auto;
  min-height: 65px;
  margin: 15px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 18px 0;
}

.u-section-1 .u-text-19 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: 3px -156px 0 221px;
}

.u-section-1 .u-group-elements-17 {
  width: 91px;
  min-height: 22px;
  height: auto;
  margin: -22px auto 0 451px;
}

.u-section-1 .u-text-20 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-group-elements-18 {
  width: 135px;
  min-height: 22px;
  height: auto;
  margin: -22px 229px 0 auto;
}

.u-section-1 .u-text-21 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -25px 81px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-22 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: -24px 870px 0 662px;
}

.u-section-1 .u-text-23 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: -22px 733px 0 881px;
}

.u-section-1 .u-text-24 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: -22px 575px 0 1029px;
}

.u-section-1 .u-text-25 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: -23px 436px 0 1171px;
}

.u-section-1 .u-group-elements-19 {
  width: 135px;
  min-height: 22px;
  height: auto;
  margin: -21px auto 0 34px;
}

.u-section-1 .u-text-26 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-group-4 {
  width: 1665px;
  height: auto;
  min-height: 65px;
  margin: 15px auto 60px;
}

.u-section-1 .u-container-layout-4 {
  padding: 17px 0;
}

.u-section-1 .u-text-27 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: 2px -172px 0 237px;
}

.u-section-1 .u-group-elements-20 {
  width: 94px;
  min-height: 22px;
  height: auto;
  margin: -22px auto 0 452px;
}

.u-section-1 .u-text-28 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-group-elements-21 {
  width: 135px;
  min-height: 22px;
  height: auto;
  margin: -20px 229px 0 auto;
}

.u-section-1 .u-text-29 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -24px 83px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-30 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: -27px auto 0 661px;
}

.u-section-1 .u-text-31 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: -22px 718px 0 865px;
}

.u-section-1 .u-text-32 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: -22px 575px 0 1032px;
}

.u-section-1 .u-text-33 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: -20px 424px 0 1175px;
}

.u-section-1 .u-group-elements-22 {
  width: 135px;
  min-height: 22px;
  height: auto;
  margin: -22px auto 0 34px;
}

.u-section-1 .u-text-34 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-elements-1 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-group-elements-5 {
    margin-left: calc(((100% - 940px) / 2) + -251px);
  }

  .u-section-1 .u-group-elements-6 {
    margin-left: calc(((100% - 940px) / 2) + -13px);
  }

  .u-section-1 .u-group-elements-7 {
    margin-left: calc(((100% - 940px) / 2) + 127px);
  }

  .u-section-1 .u-group-elements-8 {
    margin-right: calc(((100% - 940px) / 2) + -95px);
  }

  .u-section-1 .u-group-elements-9 {
    margin-right: calc(((100% - 940px) / 2)  + 341px);
  }

  .u-section-1 .u-group-elements-10 {
    margin-left: calc(((100% - 940px) / 2)  + 400px);
  }

  .u-section-1 .u-group-elements-11 {
    margin-right: calc(((100% - 940px) / 2)  + 430px);
  }

  .u-section-1 .u-group-elements-12 {
    margin-right: calc(((100% - 940px) / 2)  + 287px);
  }

  .u-section-1 .u-group-elements-13 {
    margin-right: calc(((100% - 940px) / 2) + 144px);
  }

  .u-section-1 .u-group-2 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 511px;
    margin-left: 303px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 372px;
    margin-left: 519px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 213px;
    margin-left: 665px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 68px;
    margin-left: 807px;
  }

  .u-section-1 .u-group-3 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 507px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 370px;
    margin-left: 518px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 212px;
    margin-left: 666px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 74px;
    margin-left: 809px;
  }

  .u-section-1 .u-group-4 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-30 {
    margin-left: 373px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 356px;
    margin-left: 502px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 213px;
    margin-left: 669px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 62px;
    margin-left: 813px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-elements-5 {
    margin-left: calc(((100% - 720px) / 2) + -251px);
  }

  .u-section-1 .u-group-elements-6 {
    margin-left: calc(((100% - 720px) / 2) + -13px);
  }

  .u-section-1 .u-group-elements-7 {
    margin-left: calc(((100% - 720px) / 2) + 127px);
  }

  .u-section-1 .u-group-elements-8 {
    margin-right: calc(((100% - 720px) / 2) + -95px);
  }

  .u-section-1 .u-group-elements-9 {
    margin-right: calc(((100% - 720px) / 2)  + 341px);
  }

  .u-section-1 .u-group-elements-10 {
    margin-left: calc(((100% - 720px) / 2)  + 400px);
  }

  .u-section-1 .u-group-elements-11 {
    margin-right: calc(((100% - 720px) / 2)  + 430px);
  }

  .u-section-1 .u-group-elements-12 {
    margin-right: calc(((100% - 720px) / 2)  + 287px);
  }

  .u-section-1 .u-group-elements-13 {
    margin-right: calc(((100% - 720px) / 2) + 144px);
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 401px;
    margin-left: 193px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 262px;
    margin-left: 409px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 103px;
    margin-left: 555px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 655px;
  }

  .u-section-1 .u-group-3 {
    width: 720px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 397px;
    margin-left: 190px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 260px;
    margin-left: 408px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 102px;
    margin-left: 556px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 0;
    margin-left: 663px;
  }

  .u-section-1 .u-group-4 {
    width: 720px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 286px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 246px;
    margin-left: 392px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 103px;
    margin-left: 559px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 0;
    margin-left: 655px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-elements-5 {
    margin-left: calc(((100% - 540px) / 2) + -251px);
  }

  .u-section-1 .u-group-elements-6 {
    margin-left: calc(((100% - 540px) / 2) + -13px);
  }

  .u-section-1 .u-group-elements-7 {
    margin-left: calc(((100% - 540px) / 2) + 127px);
  }

  .u-section-1 .u-group-elements-8 {
    margin-right: calc(((100% - 540px) / 2) + -95px);
  }

  .u-section-1 .u-group-elements-9 {
    margin-right: calc(((100% - 540px) / 2)  + 269px);
  }

  .u-section-1 .u-group-elements-10 {
    margin-left: calc(((100% - 540px) / 2)  + 400px);
  }

  .u-section-1 .u-group-elements-11 {
    margin-right: calc(((100% - 540px) / 2)  + 400px);
  }

  .u-section-1 .u-group-elements-12 {
    margin-right: calc(((100% - 540px) / 2)  + 287px);
  }

  .u-section-1 .u-group-elements-13 {
    margin-right: calc(((100% - 540px) / 2) + 144px);
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-group-elements-14 {
    margin-left: 450px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 311px;
    margin-left: 103px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 172px;
    margin-left: 319px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 13px;
    margin-left: 465px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 475px;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
  }

  .u-section-1 .u-group-elements-17 {
    margin-left: 449px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 307px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 170px;
    margin-left: 318px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 12px;
    margin-left: 466px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 483px;
  }

  .u-section-1 .u-group-4 {
    width: 540px;
  }

  .u-section-1 .u-group-elements-20 {
    margin-left: 446px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 215px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 156px;
    margin-left: 302px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 13px;
    margin-left: 469px;
  }

  .u-section-1 .u-text-33 {
    margin-left: 475px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-1 {
    width: 320px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-3 {
    width: 340px;
  }

  .u-section-1 .u-group-elements-5 {
    margin-left: calc(((100% - 340px) / 2) + -251px);
  }

  .u-section-1 .u-group-elements-6 {
    margin-left: calc(((100% - 340px) / 2) + -13px);
  }

  .u-section-1 .u-group-elements-7 {
    margin-left: calc(((100% - 340px) / 2) + 108px);
  }

  .u-section-1 .u-group-elements-8 {
    margin-right: calc(((100% - 340px) / 2) + -95px);
  }

  .u-section-1 .u-group-elements-9 {
    margin-right: calc(((100% - 340px) / 2)  + 69px);
  }

  .u-section-1 .u-group-elements-10 {
    margin-left: calc(((100% - 340px) / 2)  + 212px);
  }

  .u-section-1 .u-group-elements-11 {
    margin-right: calc(((100% - 340px) / 2)  + 200px);
  }

  .u-section-1 .u-group-elements-12 {
    margin-right: calc(((100% - 340px) / 2)  + 228px);
  }

  .u-section-1 .u-group-elements-13 {
    margin-right: calc(((100% - 340px) / 2) + 144px);
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-group-elements-14 {
    margin-left: 250px;
  }

  .u-section-1 .u-group-elements-15 {
    margin-right: 222px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 211px;
    margin-left: 3px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 72px;
    margin-left: 219px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 278px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 275px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-group-elements-17 {
    margin-left: 249px;
  }

  .u-section-1 .u-group-elements-18 {
    margin-right: 205px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 207px;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 70px;
    margin-left: 218px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
    margin-left: 278px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 283px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-group-elements-20 {
    margin-left: 246px;
  }

  .u-section-1 .u-group-elements-21 {
    margin-right: 205px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 135px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 56px;
    margin-left: 202px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 0;
    margin-left: 282px;
  }

  .u-section-1 .u-text-33 {
    margin-left: 275px;
  }
}

.u-section-1 .u-group-elements-1,
.u-section-1 .u-group-elements-1:before,
.u-section-1 .u-group-elements-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-elements-1.u-group-elements-1.u-group-elements-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-elements-1.u-group-elements-1.u-group-elements-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}